$size: 50px;
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-ctr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 500px;
  #time,
  label {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

.square {
  background-color: lightcoral;
  width: $size;
  height: $size;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

.circle {
  background-color: lightgreen;
  width: $size/2;
  height: $size/2;
  border-radius: 50%;
}
